<div id="nav">
	<ul class='kwicks kwicks-vertical'>
		<li class="kwicks-selected"> <%= link_to(image_tag("ur_logo.png"), "/main/rochester") %> </li>
		<li> <%= link_to(image_tag("rapgenius_logo.png"), "/main/rapgenius") %> </li>
		<li> <%= link_to(image_tag("sotb_logo.png"), "/main/sotb") %> </li>
		<li> <%= link_to(image_tag("ur_soccer.png"), "/main/ur_soccer") %> </li>
		<li> <%= link_to(image_tag("nest_logo.png"), "/main/nest") %> </li>
	</ul>
</div>
			
<div id="feature"> <img src="/assets/UR_resume_stuff.jpg" /> </div>