<!DOCTYPE html>
<html>
	<head>
	  <title>Bryan Knouse</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900' rel='stylesheet' type='text/css'>
	  <%= csrf_meta_tags %>

	 	<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-35435870-1']);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

		</script>

	</head>
	<body>
		
		<script type='text/javascript'>
			$(function() {
				$('.kwicks').kwicks({
					size: 175,
					maxSize : 350,
					spacing : 5,
					behavior: 'menu'
				});
			});
		</script>

		<div id="main">

			<a class="title" href="/main/home"> Bryan Knouse </a>

			<div id="navi">

				<div id="row_1">
					<div class="box"> 
						<%= link_to(image_tag("phs_box_logo.png"), "/main/parkland") %> 
						<%= link_to "Parkland High School", "/main/parkland", :class => "details" %> 
					</div>
					<div class="box"> 
						<%= link_to(image_tag("ur_box_logo.png"), "/main/rochester") %> 
						<%= link_to "University of Rochester", "/main/rochester", :class => "details" %> 
					</div>
					<div class="box"> 
						<%= link_to(image_tag("BF_box_logo.png"), "/main/bluefields") %> 
						<%= link_to "Bluefields.com Design", "/main/bluefields", :class => "details" %> 
					</div>
					<div class="box"> 
						<%= link_to(image_tag("rapgenius_box_logo.png"), "/main/rapgenius") %> 
						<%= link_to "Rapgenius Design Review", "/main/rapgenius", :class => "details" %> 
					</div>
					<div class="box"> 
						<%= link_to(image_tag("sotb_box_logo.png"), "/main/sotb") %>
						<%= link_to "Sports On The Brain", "/main/sotb", :class => "details" %> 
					</div>
					<div class="box"> 
						<%= link_to(image_tag("sa244_box_logo.png"), "/main/sa244") %>
						<%= link_to "SA244: Digital Photography", "/main/sa244", :class => "details" %> 
					</div>
				</div>

				<div id="row_2">
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>					
				</div>

				<div class="row_3">
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>
					<div class="box empty_box"> </div>
				</div>

			</div>

			<span class="desc">  </span>

			<%= yield %>

			<div id="footer">
				<p> </p>
			</div>

		</div>

	</body>
</html>
