<!DOCTYPE html>
<html>
	<head>
	  <title>Bryan Knouse</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900' rel='stylesheet' type='text/css'>
	  <%= csrf_meta_tags %>
		<script type="text/javascript">

			  var _gaq = _gaq || [];
			  _gaq.push(['_setAccount', 'UA-36287226-1']);
			  _gaq.push(['_setDomainName', 'knou.se']);
			  _gaq.push(['_setAllowLinker', true]);
			  _gaq.push(['_trackPageview']);

			  (function() {
			    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			  })();

		</script>
	</head>
	<body>
	<div class="gear_1"> </div>	
	<div id="bg">

		<div id="main">

			<div class="intro"> 
				<a class="title" href="/main/home">Bryan Knouse </a></br>
				<div class="linkgrp">
					<a class="links" href="mailto:bknouse@u.rochester.edu"> Email </a>
					<a class="links" href="http://www.linkedin.com/pub/bryan-knouse/35/a7/a57" target="blank"> LinkedIn </a>
					<a class="links" href="https://github.com/knouse1344" target="blank"> Github </a>
				</div>
			</div>

			<div id="content">
				<div id="navi">

					<div id="row_1">
						<div class="box"> 
							<%= link_to(image_tag("phs_box_logo.png"), "/main/parkland") %> 
							<a href="/main/parkland" class="details"> 
								<div class="info">
									<h1> Parkland High School </h1>
									<p> Allentown, Pennsylvania </p> 
								</div>
							</a> 
						</div>
						<div class="box"> 
							<%= link_to(image_tag("ur_box_logo.png"), "/main/rochester") %> 
							<a href="/main/rochester" class="details"> 
								<div class="info">
									<h1> University of Rochester </h1>
									<p> Rochester, New York </p> 
								</div>
							</a> 						
						</div>
						<div class="box"> 
							<%= link_to(image_tag("sotb_box_logo.png"), "/main/sotb") %>
							<a href="/main/sotb" class="details"> 
								<div class="info">
									<h1> Sports On The Brain </h1>
									<p> Bluefields Blog Redesign </p> 
								</div>
							</a> 						
						</div>					
						<div class="box"> 
							<%= link_to(image_tag("BF_box_logo.png"), "/main/bluefields") %> 
							<a href="/main/bluefields" class="details"> 
								<div class="info">
									<h1> Bluefields </h1>
									<p> Marketing and Design </p> 
								</div>
							</a> 				
						</div>
					</div>

					<div id="row_2">
						<div class="box"> 
							<%= link_to(image_tag("rapgenius_box_logo.png"), "/main/rapgenius") %> 
							<a href="/main/rapgenius" class="details"> 
								<div class="info">
									<h1> Rapgenius </h1>
									<p> Design Review </p> 
								</div>
							</a> 
						</div>
						<div class="box"> 
							<%= link_to image_tag("baja_box_logo.png"), "/main/baja" %>
							<a href="/main/baja" class="details"> 
								<div class="info">
									<h1> SAE Mini Baja </h1>
									<p> University of Rochester </p> 
								</div>
							</a> 
						</div>
						<div class="box"> 
							<%= link_to(image_tag("sa244_box_logo.png"), "/main/sa244") %>
							<a href="/main/sa244" class="details"> 
								<div class="info">
									<h1> SA 244 </h1>
									<p> Studio Arts </p> 
								</div>
							</a> 
						</div>
						<div class="box"> 
							<%= link_to(image_tag("nest_box_logo.png"), "/main/nest") %>
							<a href="/main/nest" class="details">
								<div class="info">
									<h1> Nest </h1>
									<p> KPCB Design Fellowship Application </p>
								</div>
							</a>
						</div>		
					</div>

				</div>

				<%= yield %>

				<div id="footer">
					Bryan Knouse
				</div>
			</div>
		</div>
	</bg>
	</body>
</html>
