<!DOCTYPE html>
<html>
	<head>
	  <title>Bryan Knouse</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		
		<script type='text/javascript'>
			$(function() {
				$('.kwicks').kwicks({
					size: 175,
					maxSize : 350,
					spacing : 5,
					behavior: 'menu'
				});
			});
		</script>

		<div id="main">

			<div id="navi">

				<div id="row_1">
					<div class="box"> </div>
					<div class="box"> <%= link_to(image_tag("ur_box_logo.png"), "/main/rochester") %> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> <%= link_to(image_tag("sotb_box_logo.png"), "/main/sotb") %></div>
					<div class="box"> </div>
				</div>

				<div id="row_2">
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box wide"> <%= link_to(image_tag("nest_box_logo.png"), "/main/nest") %> </div>
					<div class="box"> </div>
					<div class="box"> </div>
				</div>

				<div class="row_3">
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> </div>
					<div class="box"> <%= link_to(image_tag("rapgenius_box_logo.png"), "/main/rapgenius") %> </div>
					<div class="box"> </div>
				</div>

			</div>

			<span class="desc">  </span>

			<%= yield %>

		</div>

	</body>
</html>
